/* Transitions */
div#transit1 {
	width: 100px;
	height: 100px;
	background: #138d75;
	border-radius: 20px;
	-webkit-transition: width 3s; /* Safari */
	-webkit-transition-delay: 0.5s; /* Safari */
	transition: width 3s;
	transition-delay: 0.5s;
}

div#transit1:hover {
	width: 60%;
}

div#transit1:hover:after {
	content: "Mouse Detected";
	padding-left: 20px;
	transition: all 2s;
}

/* Animation */
div#anim1 {
	width: 100px;
	height: 100px;
	background: #ecff00;
	background-image: url("1.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	animation: jump 5s infinite;
}

nav ul li a:hover {
	animation: warning 1.5s infinite ease-in;
}

@keyframes jump {
	0% {
		top: 0%;
		left: 0%;
	}
	50% {
		top: 0%;
		left: 80%;
		border-radius: 75px;
		background-color: #6331f4;
		background-image: url("3.jpeg");
	}
	100% {
		top: 0%;
		left: 0%;
	}
}

@keyframes warning {
	0% {
		text-shadow: 0px 0px 4px #000000;
	}
	50% {
		text-shadow: 0 0 20px #000000;
	}
	100% {
		text-shadow: 0px 0px 4px #000000;
	}
}

/* 2D Transformation */
div.transf {
	width: 100px;
	height: 100px;
	background: #2980b9;
	border-radius: 20px;
	text-align: center;
	vertical-align: middle;
}
div#transf1:hover {
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
div#transf2:hover {
	-ms-transform: skew(45deg);
	-webkit-transform: skew(45deg);
	transform: skew(45deg);
}
div#transf3:hover {
	-ms-transform: scale(0.5, 0.5);
	-webkit-transform: scale(0.5, 0.5);
	transform: scale(0.5, 0.5);
}
div#transf4:hover {
	-ms-transform: translate(10px, -50px);
	-webkit-transform: translate(10px, -50px);
	transform: translate(10px, -50px);
}
div#transf5:hover {
	-ms-transform: matrix(1.678, -0.256, 1.522, 2.333, -51.533, -1.989);
	-webkit-transform: matrix(1.678, -0.256, 1.522, 2.333, -51.533, -1.989);
	transform: matrix(1.678, -0.256, 1.522, 2.333, -51.533, -1.989);
}

/* 2D Transformation with images */
div.transf-img {
	width: 150px;
	height: 150px;
	background: #2980b9;
	background-repeat: no-repeat;
	background-size: cover;
}
div#transf-img1 {
	background-image: url("1.jpeg");
}
div#transf-img2 {
	background-image: url("2.jpeg");
}
div#transf-img3 {
	background-image: url("3.jpeg");
}
div#transf-img4 {
	background-image: url("4.jpeg");
}
div#transf-img5 {
	background-image: url("6.jpeg");
}

div#transf-img1:hover {
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
div#transf-img2:hover {
	-ms-transform: skew(45deg);
	-webkit-transform: skew(45deg);
	transform: skew(45deg);
}
div#transf-img3:hover {
	-ms-transform: scale(0.5, 0.5);
	-webkit-transform: scale(0.5, 0.5);
	transform: scale(0.5, 0.5);
}
div#transf-img4:hover {
	-ms-transform: translate(10px, -50px);
	-webkit-transform: translate(10px, -50px);
	transform: translate(10px, -50px);
}
div#transf-img5:hover {
	-ms-transform: matrix(1.678, -0.256, 1.522, 2.333, -51.533, -1.989);
	-webkit-transform: matrix(1.678, -0.256, 1.522, 2.333, -51.533, -1.989);
	transform: matrix(1.678, -0.256, 1.522, 2.333, -51.533, -1.989);
}

/* 3D Transformation */
div.d3transf {
	width: 150px;
	height: 200px;
	background: #a784ab;
	-webkit-transition: 1s cubic-bezier(0.5, 1, 0.75, 1);
	-moz-transition: 1s cubic-bezier(0.5, 1, 0.75, 1);
	transition: 1s cubic-bezier(0.5, 1, 0.75, 1);
}
div#d3transf1:hover {
	-ms-transform: rotateX(180deg);
	-webkit-transform: rotateX(180deg);
	transform: rotateX(180deg);
}
div#d3transf2:hover {
	-ms-transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
div#d3transf3:hover {
	-ms-transform: rotateZ(180deg);
	-webkit-transform: rotateZ(180deg);
	transform: rotateZ(180deg);
}

/* Perspective */
.container-perspective {
	width: 200px;
	height: 200px;
	border: 1px solid #ccc;
	margin: 0 auto 40px;
}
.container-perspective figure {
	display: block;
	width: 55px;
	height: 55px;
	float: left;
	margin: 5px;
}

#red figure {
	background: rgb(255, 136, 0);
	-webkit-transform: perspective(600px) rotateY(50deg);
	-moz-transform: perspective(600px) rotateY(50deg);
	-o-transform: perspective(600px) rotateY(50deg);
	transform: perspective(600px) rotateY(50deg);
}

#blue {
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	-o-perspective: 600px;
	perspective: 600px;
}

#blue figure {
	background: rgb(0, 162, 255);
	-webkit-transform: rotateY(50deg);
	-moz-transform: rotateY(50deg);
	-o-transform: rotateY(50deg);
	transform: rotateY(50deg);
}

/* Card Flip */
.container-card {
	width: 200px;
	height: 260px;
	position: relative;
	margin: 0 auto 40px;
	border: 1px solid #ccc;
	-webkit-perspective: 800px;
	-moz-perspective: 800px;
	-o-perspective: 800px;
	perspective: 800px;
}

#card {
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	-o-transition: -o-transform 1s;
	transition: transform 1s;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform-origin: right center;
	-moz-transform-origin: right center;
	-o-transform-origin: right center;
	transform-origin: right center;
}

#card:hover {
	-webkit-transform: translateX(-100%) rotateY(-180deg);
	-moz-transform: translateX(-100%) rotateY(-180deg);
	-o-transform: translateX(-100%) rotateY(-180deg);
	transform: translateX(-100%) rotateY(-180deg);
}

#card figure {
	display: block;
	height: 100%;
	width: 100%;
	line-height: 260px;
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 140px;
	position: absolute;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}

#card .card-front {
	background: rgb(255, 0, 212);
	background-image: url("3.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
}

#card .card-back {
	background: rgb(0, 255, 85);
	background-image: url("5.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

/* Cube */
.container-cube {
	width: 200px;
	height: 200px;
	position: relative;
	margin: 0 auto 40px;
	border: 1px solid #ccc;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-o-perspective: 1000px;
	perspective: 1000px;
}

#cube {
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	-o-transition: -o-transform 1s;
	transition: transform 1s;
}

#cube figure {
	display: block;
	position: absolute;
	width: 196px;
	height: 196px;
	border: 2px solid black;
	line-height: 196px;
	font-size: 120px;
	font-weight: bold;
	color: white;
	text-align: center;
}

#cube.panels-backface-invisible figure {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}

#cube .cube-front {
	background: hsla(0, 100%, 50%, 0.7);
	background-image: url("1.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
}
#cube .cube-back {
	background: hsla(60, 100%, 50%, 0.7);
	background-image: url("2.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
}
#cube .cube-right {
	background: hsla(120, 100%, 50%, 0.7);
	background-image: url("3.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
}
#cube .cube-left {
	background: hsla(180, 100%, 50%, 0.7);
	background-image: url("4.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
}
#cube .cube-top {
	background: hsla(240, 100%, 50%, 0.7);
	background-image: url("5.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
}
#cube .cube-bottom {
	background: hsla(300, 100%, 50%, 0.7);
	background-image: url("6.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
}

#cube .cube-front {
	-webkit-transform: translateZ(100px);
	-moz-transform: translateZ(100px);
	-o-transform: translateZ(100px);
	transform: translateZ(100px);
}
#cube .cube-back {
	-webkit-transform: rotateX(-180deg) translateZ(100px);
	-moz-transform: rotateX(-180deg) translateZ(100px);
	-o-transform: rotateX(-180deg) translateZ(100px);
	transform: rotateX(-180deg) translateZ(100px);
}
#cube .cube-right {
	-webkit-transform: rotateY(90deg) translateZ(100px);
	-moz-transform: rotateY(90deg) translateZ(100px);
	-o-transform: rotateY(90deg) translateZ(100px);
	transform: rotateY(90deg) translateZ(100px);
}
#cube .cube-left {
	-webkit-transform: rotateY(-90deg) translateZ(100px);
	-moz-transform: rotateY(-90deg) translateZ(100px);
	-o-transform: rotateY(-90deg) translateZ(100px);
	transform: rotateY(-90deg) translateZ(100px);
}
#cube .cube-top {
	-webkit-transform: rotateX(90deg) translateZ(100px);
	-moz-transform: rotateX(90deg) translateZ(100px);
	-o-transform: rotateX(90deg) translateZ(100px);
	transform: rotateX(90deg) translateZ(100px);
}
#cube .cube-bottom {
	-webkit-transform: rotateX(-90deg) translateZ(100px);
	-moz-transform: rotateX(-90deg) translateZ(100px);
	-o-transform: rotateX(-90deg) translateZ(100px);
	transform: rotateX(-90deg) translateZ(100px);
}

#cube.cube-show-front {
	-webkit-transform: translateZ(-100px);
	-moz-transform: translateZ(-100px);
	-o-transform: translateZ(-100px);
	transform: translateZ(-100px);
}
#cube.cube-show-back {
	-webkit-transform: translateZ(-100px) rotateX(-180deg);
	-moz-transform: translateZ(-100px) rotateX(-180deg);
	-o-transform: translateZ(-100px) rotateX(-180deg);
	transform: translateZ(-100px) rotateX(-180deg);
}
#cube.cube-show-right {
	-webkit-transform: translateZ(-100px) rotateY(-90deg);
	-moz-transform: translateZ(-100px) rotateY(-90deg);
	-o-transform: translateZ(-100px) rotateY(-90deg);
	transform: translateZ(-100px) rotateY(-90deg);
}
#cube.cube-show-left {
	-webkit-transform: translateZ(-100px) rotateY(90deg);
	-moz-transform: translateZ(-100px) rotateY(90deg);
	-o-transform: translateZ(-100px) rotateY(90deg);
	transform: translateZ(-100px) rotateY(90deg);
}
#cube.cube-show-top {
	-webkit-transform: translateZ(-100px) rotateX(-90deg);
	-moz-transform: translateZ(-100px) rotateX(-90deg);
	-o-transform: translateZ(-100px) rotateX(-90deg);
	transform: translateZ(-100px) rotateX(-90deg);
}
#cube.cube-show-bottom {
	-webkit-transform: translateZ(-100px) rotateX(90deg);
	-moz-transform: translateZ(-100px) rotateX(90deg);
	-o-transform: translateZ(-100px) rotateX(90deg);
	transform: translateZ(-100px) rotateX(90deg);
}

/* Prism */
.container-prism {
	width: 300px;
	height: 200px;
	position: relative;
	margin: 0 auto 40px;
	border: 1px solid #ccc;
	-webkit-perspective: 1200px;
	-moz-perspective: 1200px;
	-o-perspective: 1200px;
	perspective: 1200px;
}

#box {
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	-o-transition: -o-transform 1s;
	transition: transform 1s;
}

#box figure {
	display: block;
	position: absolute;
	border: 2px solid black;
	line-height: 196px;
	font-size: 90px;
	text-align: center;
	font-weight: bold;
	color: white;
}

#box.panels-backface-invisible figure {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}

#box .prism-front,
#box .prism-back {
	width: 296px;
	height: 196px;
}

#box .prism-right,
#box .prism-left {
	width: 96px;
	height: 196px;
	left: 100px;
}

#box .prism-top,
#box .prism-bottom {
	width: 296px;
	height: 96px;
	top: 50px;
	line-height: 96px;
}

#box .prism-front {
	background: hsla(000, 100%, 50%, 0.7);
	background-image: url("1.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
}
#box .prism-back {
	background: hsla(160, 100%, 50%, 0.7);
	background-image: url("2.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
}
#box .prism-right {
	background: hsla(120, 100%, 50%, 0.7);
	background-image: url("3.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
}
#box .prism-left {
	background: hsla(180, 100%, 50%, 0.7);
	background-image: url("4.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
}
#box .prism-top {
	background: hsla(240, 100%, 50%, 0.7);
	background-image: url("5.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
}
#box .prism-bottom {
	background: hsla(300, 100%, 50%, 0.7);
	background-image: url("6.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
}

#box .prism-front {
	-webkit-transform: translateZ(50px);
	-moz-transform: translateZ(50px);
	-o-transform: translateZ(50px);
	transform: translateZ(50px);
}
#box .prism-back {
	-webkit-transform: rotateX(-180deg) translateZ(50px);
	-moz-transform: rotateX(-180deg) translateZ(50px);
	-o-transform: rotateX(-180deg) translateZ(50px);
	transform: rotateX(-180deg) translateZ(50px);
}
#box .prism-right {
	-webkit-transform: rotateY(90deg) translateZ(150px);
	-moz-transform: rotateY(90deg) translateZ(150px);
	-o-transform: rotateY(90deg) translateZ(150px);
	transform: rotateY(90deg) translateZ(150px);
}
#box .prism-left {
	-webkit-transform: rotateY(-90deg) translateZ(150px);
	-moz-transform: rotateY(-90deg) translateZ(150px);
	-o-transform: rotateY(-90deg) translateZ(150px);
	transform: rotateY(-90deg) translateZ(150px);
}
#box .prism-top {
	-webkit-transform: rotateX(90deg) translateZ(100px);
	-moz-transform: rotateX(90deg) translateZ(100px);
	-o-transform: rotateX(90deg) translateZ(100px);
	transform: rotateX(90deg) translateZ(100px);
}
#box .prism-bottom {
	-webkit-transform: rotateX(-90deg) translateZ(100px);
	-moz-transform: rotateX(-90deg) translateZ(100px);
	-o-transform: rotateX(-90deg) translateZ(100px);
	transform: rotateX(-90deg) translateZ(100px);
}

#box.prism-show-front {
	-webkit-transform: translateZ(-50px);
	-moz-transform: translateZ(-50px);
	-o-transform: translateZ(-50px);
	transform: translateZ(-50px);
}
#box.prism-show-back {
	-webkit-transform: translateZ(-50px) rotateX(-180deg);
	-moz-transform: translateZ(-50px) rotateX(-180deg);
	-o-transform: translateZ(-50px) rotateX(-180deg);
	transform: translateZ(-50px) rotateX(-180deg);
}
#box.prism-show-right {
	-webkit-transform: translateZ(-150px) rotateY(-90deg);
	-moz-transform: translateZ(-150px) rotateY(-90deg);
	-o-transform: translateZ(-150px) rotateY(-90deg);
	transform: translateZ(-150px) rotateY(-90deg);
}
#box.prism-show-left {
	-webkit-transform: translateZ(-150px) rotateY(90deg);
	-moz-transform: translateZ(-150px) rotateY(90deg);
	-o-transform: translateZ(-150px) rotateY(90deg);
	transform: translateZ(-150px) rotateY(90deg);
}
#box.prism-show-top {
	-webkit-transform: translateZ(-100px) rotateX(-90deg);
	-moz-transform: translateZ(-100px) rotateX(-90deg);
	-o-transform: translateZ(-100px) rotateX(-90deg);
	transform: translateZ(-100px) rotateX(-90deg);
}
#box.prism-show-bottom {
	-webkit-transform: translateZ(-100px) rotateX(90deg);
	-moz-transform: translateZ(-100px) rotateX(90deg);
	-o-transform: translateZ(-100px) rotateX(90deg);
	transform: translateZ(-100px) rotateX(90deg);
}

/* Carousel */
.container-carousel {
	width: 210px;
	height: 140px;
	position: relative;
	margin: 0 auto 40px;
	border: 1px solid #ccc;
	-webkit-perspective: 1100px;
	-moz-perspective: 1100px;
	-o-perspective: 1100px;
	perspective: 1100px;
}

#carousel {
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.ready #carousel {
	-webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	-o-transition: -o-transform 1s;
	transition: transform 1s;
}

#carousel.panels-backface-invisible figure {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}

#carousel figure {
	display: block;
	position: absolute;
	width: 186px;
	height: 116px;
	left: 10px;
	top: 10px;
	border: 2px solid black;
	line-height: 116px;
	font-size: 80px;
	font-weight: bold;
	color: white;
	text-align: center;
}

.ready #carousel figure {
	-webkit-transition: opacity 1s, -webkit-transform 1s;
	-moz-transition: opacity 1s, -moz-transform 1s;
	-o-transition: opacity 1s, -o-transform 1s;
	transition: opacity 1s, transform 1s;
}

/* Image Carousel 2 */
@-webkit-keyframes spinner {
	from {
		-webkit-transform: rotateY(0deg);
	}
	to {
		-webkit-transform: rotateY(-360deg);
	}
}
@keyframes spinner {
	from {
		-moz-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		transform: rotateY(0deg);
	}
	to {
		-moz-transform: rotateY(-360deg);
		-ms-transform: rotateY(-360deg);
		transform: rotateY(-360deg);
	}
}
#stage {
	margin: 1em auto;
	-webkit-perspective: 1200px;
	-moz-perspective: 1200px;
	-ms-perspective: 1200px;
	perspective: 1200px;
}
#spinner {
	-webkit-animation-name: spinner;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 6s;

	animation-name: spinner;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 6s;

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
#spinner:hover {
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
}
#spinner img {
	position: absolute;
	border: 1px solid #ccc;
	background: rgba(255, 255, 255, 0.8);
	background-size: cover;
	box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
}

/* Transformation + Animation */
@keyframes swing {
	from {
		transform: rotate(5deg);
	}
	20% {
		transform: rotate(10deg);
	}
	60% {
		transform: rotate(15deg);
	}
	80% {
		transform: rotate(10deg);
	}
	to {
		transform: rotate(5deg);
	}
}

#at-in {
	transform: rotate(3deg);
	animation: swing 0.5s 5 ease-in;
}

/* Easing */
#ease {
	background: #00b0ff;
	border: 1px solid #29bdff;
}
#ease span {
	border-radius: 4px;
	display: block;
}

#easing {
	overflow: hidden;
	width: 200px;
}
#easing span {
	width: 100px;
	height: 100px;
	background: #fff;
	background-image: url("1.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-animation: easing 2s ease infinite;
	animation: easing 2s ease infinite;
}
#linear {
	overflow: hidden;
	width: 200px;
}
#linear span {
	width: 100px;
	height: 100px;
	background: #fff;
	background-image: url("2.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-animation: easing 2s linear infinite;
	animation: easing 2s linear infinite;
}
#easein {
	overflow: hidden;
	width: 200px;
}
#easein span {
	width: 100px;
	height: 100px;
	background: #fff;
	background-image: url("3.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-animation: easing 2s ease-in infinite;
	animation: easing 2s ease-in infinite;
}
#easeout {
	overflow: hidden;
	width: 200px;
}
#easeout span {
	width: 100px;
	height: 100px;
	background: #fff;
	background-image: url("4.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-animation: easing 2s ease-out infinite;
	animation: easing 2s ease-out infinite;
}
#easeinout {
	overflow: hidden;
	width: 200px;
}
#easeinout span {
	width: 100px;
	height: 100px;
	background: #fff;
	background-image: url("5.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-animation: easing 2s ease-in-out infinite;
	animation: easing 2s ease-in-out infinite;
}
@-webkit-keyframes easing {
	0% {
		-webkit-transform: translateX(-120px);
		transform: translateX(-120px);
	}
	75% {
		-webkit-transform: translateX(40px);
		transform: translateX(40px);
	}
	100% {
		-webkit-transform: translateX(250px);
		transform: translateX(250px);
	}
}
@keyframes easing {
	0% {
		-webkit-transform: translateX(-120px);
		transform: translateX(-120px);
	}
	75% {
		-webkit-transform: translateX(40px);
		transform: translateX(40px);
	}
	100% {
		-webkit-transform: translateX(250px);
		transform: translateX(250px);
	}
}

#cubicbez {
	overflow: hidden;
	width: 80%;
	margin: auto;
}
#cubicbez span {
	width: 100px;
	height: 100px;
	background: #fff;
	background-image: url("1.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-animation: cubicbez 3s cubic-bezier(0.1, 0.8, 1, 0.3) infinite;
	animation: cubicbez 3s cubic-bezier(0.1, 0.8, 1, 0.3) infinite;
}
@-webkit-keyframes cubicbez {
	0% {
		-webkit-transform: translateX(-200px);
		transform: translateX(-200px);
	}
	75% {
		-webkit-transform: translateX(80px);
		transform: translateX(80px);
	}
	100% {
		-webkit-transform: translateX(500px);
		transform: translateX(500px);
	}
}
@keyframes cubicbez {
	0% {
		-webkit-transform: translateX(-200px);
		transform: translateX(-200px);
	}
	75% {
		-webkit-transform: translateX(80px);
		transform: translateX(80px);
	}
	100% {
		-webkit-transform: translateX(500px);
		transform: translateX(500px);
	}
}

img {
	display: block;
	object-fit: cover;
}
