---
layout: null
title: "404 - Page Not Found"
permalink: /404.html
---
<!DOCTYPE HTML>
<html lang="en">

<head>
    {% include head.html %}
</head>

<body>
    <div id="main">
        <section class="error-details">
            <img alt="404 Error" class="error-ghost" src="{{ "/images/404.png" | absolute_url }}" />
            <section class="error-message">
                <h1 class="error-code">404</h1>
                <h2 class="error-description">Page not found</h2>
                <a class="error-link" href="{{ "/" | absolute_url }}">Go to the home page →</a>
            </section>
        </section>
    </div>

    <!-- Scripts -->
    {% include scripts-main.html %} {% include tracking.html %}
</body>

</html>
