---
layout: compress
title: "404 | Page Not Found"
permalink: /404.html
---

<!DOCTYPE HTML>
<html lang="en">

<head>
    {% include head.html %}
    <style>
        .main {
            margin: auto;
        }

        .container {
            margin: auto;
        }

        img {
            height: 20%;
            width: auto;
            margin: auto;
        }

        .container {
            text-align: center;
        }

        p {
            text-align: center;
        }
    </style>
</head>

<body>
    <!-- Search -->
    {% include search.html %}
    <div id="main">
        <div class="container">
            <img src="{{ "/images/404.png" | absolute_url }}" alt="404 Not Found"/>
            <h1>404</h1>
            <h2>Page not found</h2>
            <p><a href="/">Return Home →</a></p>
        </div>
    </div>
    {% include foot.html %}
    <!-- Scripts -->
    {% include scripts-main.html %} {% include tracking.html %}
</body>

</html>
