<form name="contact-form" id="contact-form" action="thank-you" method="post" autocomplete="on" data-netlify="true" netlify-honeypot="bot-field" netlify>
	<input type="hidden" name="form-name" id="form-name" value="contact-form">
	<input type="hidden" name="bot-field" id="bot-field">
	<input type="text" name="name" id="name" placeholder="Name" required autofocus minlength="3" maxlength="100"><br />
	<textarea name="message" id="message" rows="3" cols="10" required placeholder="Feedback or Request for comparison..." minlength="10" maxlength="256"></textarea><br />
	<div netlify-recaptcha></div><br />
	<button type="submit">Send</button>
</form>
