<form name="contactv1" id="contact-form" action="thank-you" method="post" autocomplete="on" data-netlify="true" netlify-honeypot="bot-field" netlify>
	<input type="hidden" name="form-name" id="form-name" value="contactv1">
	<input type="hidden" name="bot-field" id="bot-field">
	<input type="text" name="name" id="name" placeholder="Name" required minlength="3" maxlength="100"><br />
	<input type="email" name="email" id="email" placeholder="Email" required minlength="5" maxlength="255" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$" title="Please match the pattern: email@domain.com"><br />
	<textarea name="message" id="message" rows="3" cols="10" required placeholder="Feedback or Request for comparison..." minlength="10" maxlength="256"></textarea>
	<br />
	<div netlify-recaptcha></div>
	<br />
	<input type="hidden" name="ip">
	<input type="hidden" name="city">
	<input type="hidden" name="region">
	<input type="hidden" name="country">
	<input type="hidden" name="loc">
	<input type="hidden" name="org">
	<input type="hidden" name="postal">
	<button type="submit" id="contact-button" title="Submit Form">Send</button>
</form>
