img {
    max-width: 720px;
}

table {
    width: 100%;
}

.error-details {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 4rem
}

.error-ghost {
    margin: auto;
    height: 160px
}

.error-code {
    margin: 0;
    color: #979797;
    font-size: 7.8rem;
    line-height: .9em
}

.error-description {
    margin: 0;
    padding: 0;
    border: none;
    color: #979797;
    font-size: 1.9rem;
    font-weight: 300
}

.error-message {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: auto;
}

.error-message a {
    margin-top: 5px;
    font-size: 1.4rem;
    line-height: 1
}
