---
layout: compress
---

<!DOCTYPE HTML>
<html lang="en">

<head>
    {% include head.html %}
</head>

<body class="is-loading">
    <!-- Search -->
    {% include search.html %}
    <!-- Wrapper -->
    <div id="wrapper" class="fade-in">
        <!-- Header -->
        <header id="header">
            <a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
        </header>
        <!-- Nav -->
        <nav id="nav">
            {% include nav.html %}
            <ul class="icons">
                <li><a href="https://twitter.com/{{site.twitter}}" target="_blank" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="https://facebook.com/{{site.facebook}}" target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="https://github.com/{{site.github}}" target="_blank" class="icon fa-github"><span class="label">GitHub</span></a></li>
                <li><a href="{{ "/sitemap.xml" | absolute_url }}" target="_blank" class="icon fa-sitemap"><span class="label">Sitemap</span></a></li>
                <li><a href="{{ "/feed.xml" | absolute_url }}" target="_blank" class="icon fa-rss"><span class="label">Atom Feed</span></a></li>
            </ul>
        </nav>
        <!-- Main -->
        <div id="main">
            <section class="posts">
                {% for post in site.posts %}
                <article>
                    <header>
                        <span class="date">{{ post.date | date_to_string }}</span>
                        <h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</h2>
                    </header>
                    <a href="{{ post.url | absolute_url }}" class="image fit"><img src="{{ post.image | absolute_url }}" alt="{{ post.title }}" /></a>
                    <p>{{ post.excerpt }}</p>
                    <div class="post-categories">
                        {% if post %} {% assign categories = post.categories %} {% else %} {% assign categories = page.categories %} {% endif %}
                        Category: {% for category in categories %}
                        <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category | capitalize}}</a>
                        {% unless forloop.last %}&nbsp;{% endunless %} {% endfor %}
                    </div>
                    <div class="post-tags">
                        {% if post %} {% assign tags = post.tags %} {% else %} {% assign tags = page.tags %} {% endif %}
                        Tags: {% for tag in tags %}
                        <a href="">{{tag | capitalize}}</a>
                        {% unless forloop.last %}&nbsp;{% endunless %} {% endfor %}
                    </div>
                    <div class="post-author">
                        Author: 
                        <a href="{{site.data.authors[post.author].web}}"  target="_blank">{{site.data.authors[post.author].name}}</a>
                    </div>
                    <ul class="actions">
                        <li><a href="{{ post.url | absolute_url }}" class="button">Read</a></li>
                    </ul>
                </article>
                 {% endfor %}
            </section>
        </div>
        <!-- Footer -->
        {% include foot.html %}
    </div>
    <!-- Scripts -->
    {% include scripts-main.html %} {% include tracking.html %}
</body>

</html>
