<!DOCTYPE HTML>
<html lang="en">

<head>
    {% include head.html %}
</head>

<body class="is-loading">
    <!-- Wrapper -->
    <div id="wrapper" class="fade-in">
        <!-- Header -->
        <header id="header">
            <a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
        </header>
        <!-- Nav -->
        <nav id="nav">
            {% include nav.html %}
            <ul class="icons">
                <li><a href="https://twitter.com/{{site.twitter}}" target="_blank" class="icon fa-twitter" rel="nofollow"><span class="label">Twitter</span></a></li>
                <li><a href="https://facebook.com/{{site.facebook}}" target="_blank" class="icon fa-facebook" rel="nofollow"><span class="label">Facebook</span></a></li>
                <li><a href="https://github.com/{{site.github}}" target="_blank" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>
            </ul>
        </nav>
        <!-- Main -->
        <div id="main">
            <section class="post">
                <header class="major">
                    <span class="date">{{page.date | date_to_string}}</span>
                    <h1>{{page.title}}</h1>
                    <p>{{page.excerpt}}</p>
                </header>
                <div class="image main"><img src="{{page.image}}" alt=""></div>
                <p>{{content}}</p>
            </section>
             {% if page.comments %}
            <div class="comments-wrapper">
                <div id="disqus_thread"></div>
                <script>
                    var disqus_config = function() {
                        this.page.url = '{{ page.url | absolute_url}}';
                        this.page.identifier = '{{ page.url }}';
                    };

                    (function() { /* dont endit below this line */
                        var d = document,
                            s = d.createElement('script');
                        s.src = 'https://{{ site.disqus_shortname }}.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
            </div>
             {% endif %}
            <!-- /.comments-wrapper -->
            <!-- Footer -->
            <footer>
                <ul class="actions">
                    <li><a href="{{ "/compare/" | absolute_url }}" class="button">Tech Comparisons</a></li>
                </ul>
            </footer>
        </div>
        <!-- Footer -->
        {% include foot.html %}
    </div>
    <!-- Scripts -->
    {% include scripts-main.html %} {% include tracking.html %}
    <script id="dsq-count-scr" src="//{{ site.disqus_shortname }}.disqus.com/count.js" async></script>
</body>

</html>
