---
layout: compress
---

<!DOCTYPE HTML>
<html lang="en">

<head>
    {% include head.html %}
</head>

<body class="is-loading">
    <!-- Search -->
    {% include search.html %}
    <!-- Wrapper -->
    <div id="wrapper" class="fade-in">
        <!-- Header -->
        <header id="header">
            <a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
        </header>
        <!-- Nav -->
        <nav id="nav">
            {% include nav.html %}
            <ul class="icons">
                <li><a href="https://twitter.com/{{site.twitter}}" target="_blank" class="icon fa-twitter" rel="noopener"><span class="label">Twitter</span></a></li>
                <li><a href="https://github.com/{{site.github}}" target="_blank" class="icon fa-github" rel="noopener"><span class="label">GitHub</span></a></li>
                <li><a href="{{ "/sitemap.xml" | absolute_url }}" target="_blank" class="icon fa-sitemap"><span class="label">Sitemap</span></a></li>
                <li><a href="{{ "/feed.xml" | absolute_url }}" target="_blank" class="icon fa-rss"><span class="label">Atom Feed</span></a></li>
            </ul>
        </nav>
        <!-- Main -->
        <div id="main">
            <section class="post">
                <header class="major">
                    <span class="date">{{page.date | date_to_string}}</span>
                    <h1>{{page.title}}</h1>
                    <p>{{page.excerpt}}</p>
                </header>
                <div class="image main"><img src="{{page.image}}" alt=""></div>
                <div class="post-categories">
                    {% if post %} {% assign categories = post.categories %} {% else %} {% assign categories = page.categories %} {% endif %}
                    Category: 
                    {% for category in categories %}
                    <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category | capitalize}}</a>
                    {% unless forloop.last %}&nbsp;{% endunless %} {% endfor %}
                </div>
                <div class="post-tags">
                    {% if post %} {% assign tags = post.tags %} {% else %} {% assign tags = page.tags %} {% endif %} Tags: {% for tag in tags
                    %}
                    <a href="">{{tag | capitalize}}</a>
                    {% unless forloop.last %}&nbsp;{% endunless %} {% endfor %}
                </div>
                <div class="post-author">
                    Author: 
                    <a href="{{site.data.authors[page.author].web}}" target="_blank">{{site.data.authors[page.author].name}}</a>
                </div>
                <p>{{content}}</p>
            </section>
             {% if page.comments %}
            <div class="comments-wrapper">
                <div id="disqus_thread"></div>
                <script>
                    var disqus_config = function() {
                        this.page.url = '{{ page.url | absolute_url}}';
                        this.page.identifier = '{{ page.url }}';
                    };

                    (function() { /* don't edit below this line */
                        var d = document,
                            s = d.createElement('script');
                        s.src = 'https://{{ site.disqus_shortname }}.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
            </div>
             {% endif %}
            <!-- /.comments-wrapper -->
            <!-- Footer -->
            <footer>
                <ul class="actions">
                    <li><a href="{{ "/all/" | absolute_url }}" class="button">Tech Comparisons</a></li>
                </ul>
            </footer>
        </div>
        <!-- Footer -->
        {% include foot.html %}
    </div>
    <!-- Scripts -->
    {% include scripts-main.html %} {% include tracking.html %}
    <script id="dsq-count-scr" src="//{{ site.disqus_shortname }}.disqus.com/count.js" async></script>
</body>

</html>
